extends ./layout/index

block slider
    .slider
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mt-5 
        .row.mb-5 
            .col-md-6 
                
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pellentesque aliquam auctor. Integer risus diam, blandit eu maximus non, varius eget risus. Nullam tempus leo lacus, in aliquam ante tempor ut. Vivamus facilisis id sapien et viverra. In hac habitasse platea dictumst. Pellentesque sem metus, cursus nec consequat ac, accumsan sed lorem. Sed faucibus augue ac eleifend egestas. Cras ut pretium risus.

                p Duis elit nisl, pharetra ac turpis a, varius pretium elit. Quisque dignissim ligula id neque suscipit finibus. Sed id diam rutrum, commodo lacus id, vestibulum mi. Praesent pretium ipsum eget magna convallis, vehicula rutrum lacus consectetur. Aenean a commodo est, ac ullamcorper metus. Etiam id augue interdum, vulputate odio et, cursus erat. Pellentesque tempor placerat risus.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")

        include ./layout/bloque_viajes

    .descuento
        .container
            .row 
                .col-md-6
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2,500 USD

    .container
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales