extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote  ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sem quam, posuere faucibus dignissim quis, dignissim vitae tortor. Nam sit amet dignissim nibh. Ut finibus venenatis ipsum sed pharetra. Praesent varius tempor ipsum. Ut faucibus erat quis justo porttitor porttitor. Etiam ultrices leo ut euismod euismod. Nam feugiat nibh id luctus fringilla. Nullam lacinia mauris eu purus facilisis bibendum a in ex.

                p placerat nibh a porta finibus. Quisque lobortis quam sed finibus laoreet. Vestibulum bibendum dapibus posuere. Donec luctus hendrerit arcu, ac pulvinar justo semper in. Aliquam finibus tristique orci, nec dictum diam malesuada vel. Integer eget porta mi, ac auctor magna. Vestibulum nisl tortor, fermentum ornare arcu nec, ultricies tempor quam. Integer at felis in lectus eleifend consequat. Vivamus interdum id turpis eget rhoncus. 

                p libero erat, commodo ac blandit vitae, maximus sit amet lorem. Sed sit amet hendrerit lorem. Maecenas eu magna ut enim malesuada consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra tincidunt ligula, et ultricies lectus pulvinar ut. Quisque eget nunc nec odio ullamcorper venenatis porttitor eu nibh. Phasellus ullamcorper urna eget feugiat efficitur. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque eget molestie ligula.
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque eget molestie ligula.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque eget molestie ligula.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque eget molestie ligula.
    